{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img src="/static/media/{{ goods.cover }}"
                     width="180px"
                     height="240px">
            </div>
            <div class="col-xs-9">
                <h3 style="width: 400px">{{ goods.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-9" style="padding: 10px">

                <button class="btn btn-danger" onclick="qbuy(this)">抢购</button>
                <button class="btn btn-info">收藏</button>
                <button class="btn btn-success">加入购物车</button>

            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        var cid = -1;  // 定时器的ID
        function qbuy(btn) {
            alert(btn.innerHTML);
            url = '/goods/qbuy/{{ goods.id }}/';
            $.getJSON(url, function (data) {
                if(data.code == 100){
                    if(confirm("用户未登录，是否转入登录页面")){
                        window.open('/user/login/', target='_self');
                    }
                }else if(data.code == 203){
                    btn.innerHTML = data.msg;
                    cid = setInterval(function () {
                        // 定时查询抢购状态
                        $.getJSON('/goods/qbuy_status/{{ goods.id }}/', function (q_data) {
                             btn.innerHTML = q_data.msg;
                             if(q_data.code != 203){
                                 // 取消定时器
                                 clearInterval(cid)
                             }
                        })
                    }, 1000)
                }else
                    alert(data.msg)
            })
        }
    </script>

{% endblock %}