{% extends 'base.html' %}

{% block content %}
    {% if query %}
        <h3>查询结果</h3>

        <table class="table table-bordered">
            <tr>
                <th>商品名</th>
                <th>商品价格</th>
                <th>商品类型</th>
            </tr>
            {% for result in page.object_list %}
                <tr>
                    <td><a href="/goods/show/{{ result.object.id }}/">{{ result.object.name }}</a></td>
                    <td>{{ result.object.price }}</td>
                    <td>{{ result.object.category.title }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="3" class="text-center">No results found.</td></tr>
            {% endfor %}
        </table>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                {% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next
                &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        <h3 class="text-danger text-center">查无数据</h3>
    {% endif %}
    </form>
{% endblock %}