{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/index/css/index.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8">

                <div class="category">
                    <ul>
                        <li class="active">所有分类</li>
                        {% for category in categorys %}
                            <li>{{ category.title }}</li>
                        {% endfor %}

                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="goods">
                    <ul>
                        {% for goods in goods_list %}



                            <li>
                                <dl>
                                    <dt style="height: 200px;width: 180px">
                                        <a href="/goods/show/{{ goods.id }}/">
                                            <img src="/static/media/{{ goods.cover }}"
                                                 width="180px" height="200px">
                                        </a>
                                    </dt>
                                    <dd>{{ goods.name|truncatechars:10 }}</dd>
                                    <dd>￥ {{ goods.price }}</dd>
                                </dl>
                            </li>
                        {% endfor %}
                        <div class="clearfix"></div>
                    </ul>
                </div>

            </div>
            <div class="col-xs-4">
                <div style="height: 600px;">
                    <div class="rank">
                        <h4>周排行</h4>
                        <ul>
                            {% for week_goods, score in week_rank %}
                                <li>
                                    <span class="no {% if forloop.counter <= 3 %}no{{ forloop.counter }}{% endif %}">{{ forloop.counter }}</span>
                                    <span><a href="/goods/show/{{ week_goods.id }}/">{{ week_goods.name }}</a></span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="rank">
                        <h4>总排行</h4>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}