{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/index/css/index.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8">

                <div class="category">
                    <ul>
                        <li class="active">所有分类</li>
                        <li>男装</li>
                        <li>女装</li>
                        <li>精品</li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="goods">
                    <ul>
                        <li>
                            <dl>
                                <dt>
                                    <a href="/goods/show/1/">
                                        <img src="/static/media/goods/1ff428a7-71d0-41c6-b019-3331d6c2a88f.jpg"
                                             width="200px" height="240px">
                                    </a>
                                </dt>
                                <dd>Disen冬装</dd>
                                <dd>￥900 原价19000</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>
                                    <img src="/static/media/goods/1ff428a7-71d0-41c6-b019-3331d6c2a88f.jpg"
                                         width="200px" height="240px">
                                </dt>
                                <dd>Disen冬装</dd>
                                <dd>￥900 原价19000</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>
                                    <img src="/static/media/goods/1ff428a7-71d0-41c6-b019-3331d6c2a88f.jpg"
                                         width="200px" height="240px">
                                </dt>
                                <dd>Disen冬装</dd>
                                <dd>￥900 原价19000</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>
                                    <img src="/static/media/goods/1ff428a7-71d0-41c6-b019-3331d6c2a88f.jpg"
                                         width="200px" height="240px">
                                </dt>
                                <dd>Disen冬装</dd>
                                <dd>￥900 原价19000</dd>
                            </dl>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>

            </div>
            <div class="col-xs-4">
                <div style="height: 600px;">
                    <div class="rank">
                        <h4>周排行</h4>
                        <ul>
                            <li>
                                <span class="no no1">1</span>
                                <span>Disen男装</span>
                            </li>
                            <li>
                                <span class="no no2">2</span>
                                <span>Disen男装</span>
                            </li>
                            <li>
                                <span class="no no3">3</span>
                                <span>Disen男装</span>
                            </li>
                            <li>
                                <span class="no">4</span>
                                <span>Disen男装</span>
                            </li>
                            <li>
                                <span class="no">5</span>
                                <span>Disen男装</span>
                            </li>
                        </ul>
                    </div>

                    <div class="rank">
                        <h4>总排行</h4>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}